<!-- story show artwork -->
<div class="span12">
  <h3>Categories</h3>
</div>
<% @story.elements.each do |element| %>
  <div class="span3">
    <%= image_tag element.picture.url(:small) %>
  </div>
<% end %>
