<!-- Story splash page -->
<% if @story.chapters.empty? %>
  <div class="span12">
    <div class="box filler">
      <h2>There is nothing here yet!</h2>
      <h5>Write documentation here on how to do create a new story</h5>
    </div>
  </div>
<% else %>
  <div class="span12 vn-splash">
    <div class="vn-logo" id="vn-logo" style="background-image: url('<%= @story.cover.url %>');"></div>
    <ul class="vn-buttons centered">
      <% ["Start", "Load"].each do |k| %>
        <li><button class="btn input-obtrusive" id="<%= k.downcase %>"><%= k %></button></li>
      <% end %>
    </ul>    
  </div>
<% end %>
