<!-- Story splash page -->
<% if @story.chapters.empty? %>
  <div class="span12">
    <div class="box filler">
      <h2>There is nothing here yet!</h2>
      <h5>Write documentation here on how to do create a new story</h5>
    </div>
  </div>
<% else %>
  <div class="vn-splash">
    <div class="vn-logo" id="vn-logo">
      <h1>Cover-page logo goes here</h1>
      <ul class="vn-buttons">
        <% ["Start", "Load"].each do |k| %>
          <li><button class="btn" id="<%= k.downcase %>"><%= k %></button></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
