<!-- Story splash page -->
<% if @story.chapters.empty? %>
  <div class="span12">
    <div class="box filler">
      <h2>There is nothing here yet!</h2>
      <h5>Write documentation here on how to do create a new story</h5>
    </div>
  </div>
<% else %>

<% end %>
