body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#flash { 
	border : 2px solid yellow;
	background-color : rgb(4, 4, 4);
	text-align : center;
	font : 2em;
	width : 30em;
	height : 15em;
}
.flash-message { 
  margin-top : 3.5em;
  width : 60%;
  margin-left : 20%;
}
.flash-message-list-error { 
  background-color : rgb(244, 234, 204);
}
.flash-message-list-notice { 
  background-color : rgb(224, 254, 234);
}
.flash-message-list-success { 
  background-color : rgb(204, 244, 204);
}
.hiddencontent { 
	visibility : hidden;
}
#error_explanation { 
  border : 2px solid rgb(225, 225, 170);
	background-color : rgb(245, 255, 255);
  padding : 0.75em;
}
#error_explanation h2{ 
  font-size : 1.25em;
}
#error_explanation ul li{ 
  font-size : 1.15em;
}
.flash { 
	border : 2px solid yellow;
	background-color : rgb(234, 245, 252);
	text-align : center;
	font : 2em;
	width : 90%;
	margin-left : 5%;
	padding-top : 1em;
	padding-bottom : 1em;
	padding-left : 0.5em;
	padding-right : 0.5em;
}
a {
  color: #00B7FF;
}

.user { 
	margin-right : 10%;
	float : right;
}
img.logo { 
	width : 30px;
	height : 20px;
	z-index : 999999;
}
ul.dropdown-form { 
	border : 2px solid black;
	background-color : rgb(55,55,59);
	width : 20em;
	height : 14em;
	padding : 1em;
	list-style : none;
}
ul.signup-form { 
	border : 2px solid black;
	background-color : rgb(55,55,59);
	width : 20em;
	height : 19em;
	padding : 1em;
	list-style : none;
}
.left-hand { 
	width : 35%;
	height : 98.55%;
	float : left;
	margin-top : -29%;
	margin-left : -0.4%;

}
.splash-lefthand { 
	background-image : url('/images/splash-hand-left-2.png');
	background-size : 100% 100%;
	background-repeat : no-repeat;
	width : 50%;
	height : 55%;
	float : left;
	margin-top : 38%;
	margin-left : -20%;
}
.splash-waveleft { 
	background-image : url('/images/splash-waves-left-c.png');
	background-size : 100% 100%;
	background-repeat : no-repeat;
	position : absolute;
}

.waveleft-a { 
	width : 3%;
	height : 15%;
	top : 53%;
	left : 12%;
}
.waveleft-b { 
	width : 6%;
	height : 30%;
	top : 45%;
	left : 13%;
}
.waveleft-c { 
	width : 12%;
	height : 60%;
	top : 30%;
	left : 13%;
}

.right-hand { 
	width : 35%;
	height : 98.55%;
	float : right;
	margin-top : -29%;
	margin-right : -0.4%;
}
.splash-righthand { 
	background-image : url('/images/splash-hand-right-2.png');
	background-size : 100% 100%;
	background-repeat : no-repeat;
	width : 50%;
	height : 55%;
	float : right;
	margin-top : 38%;
	margin-right : -20%;
}
.splash-waveright { 
	background-image : url('/images/splash-waves-right-c.png');
	background-size : 100% 100%;
	background-repeat : no-repeat;
	position : absolute;
}
.waveright-a { 
	width : 3%;
	height : 15%;
	top : 53%;
	right : 12%;
}
.waveright-b { 
	width : 6%;
	height : 30%;
	top : 45%;
	right : 13%;
}
.waveright-c { 
	width : 12%;
	height : 60%;
	top : 30%;
	right : 13%;
}
.backdrop { 
	background-image : url('/images/graphic-bg.png');
	background-repeat : repeat-x;
	background-size : 100% 100%;
	width : 100%;
	height : 100%;
	z-index : 0;
	box-shadow : 0px 5px 5px #888888;
}
.cover1 { 
	position : absolute;
	top : 3.5em;
	left : 0;
	width : 99.9%;
	height : 29.5em;
	overflow : hidden;
}
.centertext { 
	left : 34%;
	position : absolute;
}
.bumpedown { 
	margin-top : 35em;
}
ul.signup { 
	list-style : none;
}
input.signup { 
	width : 25em;
	height : 2.2em;
	margin-left : 1em;
}
a.obtrusive { 
	margin-left : 1em;
	margin-top : -0.65em;
	width : 12em;
}
button.obtrusive { 
	width : 14em;
	margin-top : -0.45em;
}
.stacks { 
	box-shadow : 0px 3px 5px #888888;
	text-align: center;

	margin-bottom : 2.5em;
	padding-bottom : 1.5%;
	background-color : rgb(252,252,252);
}
.centered { 
	text-align : center;
}
.rightify { 
  text-align : right;
}
.leftify { 
  text-align : left;
}
.examples { 
	color : #666666;
}
.arrow1 { 
	width : 42px;
	height : 79px;
	background : url('/images/arrows.png') 0 0;
}
.checkmark { 
	width : 37px;
	height : 31px;
	background-image : url('/images/check.png');
	margin-top : 1em;
	float : left;
}
ul.introduction { 
	list-style : none;
}
li.introduction { 
	width : 30em;
	height : 8em;
	background-color : rgb( 215, 233,213 );
	opacity : 0.75;
}
li.introduction p { 
	width : 25em;
	float : right;
	text-align : left;
}
li.introduction h4 { 
	margin-top : 1em;
	width : 25em;
	float : right;
	text-align : left;
}
.arrow2 { 
	width : 42px;
	height : 79px;
	background : url('/images/arrows.png') 0px 110px;
}
.arrow3 { 
	width : 83px;
	height : 29px;
	background : url('/images/arrows.png') 0px 30px;
}
.divider { 
	width : 80%;
	height : 0.25px;
	margin-top : 2em;
	margin-bottom: 2em;
	border : 1px solid #999999;
	box-shadow : 0 1px 3px #888888;
	margin-left : 10%;
}	
.h-divider{ 
  width : 100%;
  height : 0.15px;
  margin-top : 2em;
  margin-bottom : 2em;
  border : 1px solid #999999;
	box-shadow : 0 1px 3px #888888;
}
.box { 
  padding : 1em;
	box-shadow : 1px 0px 3px #888888;
  border-radius : 6px;
}
.simple {
  background-color : rgb(243, 243, 245);
  border : 1px solid rgb(223, 223, 230);
  width : 95%;
}
.filler {
  background-color : rgb(244, 235, 229);
  width : 55em;
  height : 15em;
  margin-left : 10%;
}
.hardcore {
  background-color : rgb( 240, 243, 255);
  width : 30em;
  height : 24em;
  margin-top : 3em;
  margin-left : 32%;
  border : 1px solid rgb(200, 190, 185);
  border-radius : 10px;
}
.colorful {
  border : 1px solid rgb(200, 190, 185);
  background-color : rgb(255, 240, 242);
  box-shadow : 1px 0px 0px #888888;
  padding-top : 0.25em;
  padding-bottom : 0.25em;
}
.grimdark {
  padding : 1.75em;
  padding-top : 0.5em;
  padding-bottom : 0.5em;
  border : 1px solid rgb(100, 90, 85);
  background-color : rgb(65, 55, 65);
  box-shadow : 1px 0px 0px #888888;
  color : rgb(240, 255, 240);
}
ul.signupform { 
  list-style: none;
}
li.signupform { 
  margin-top : 0.5em;
}
.highlightbox{ 
	padding-top : 2em;
	padding-bottom : 2em;
	padding-left : 2em;
	border : 2px solid #999999;
	box-shadow: 0 3px 5px #888888;
	background-color : rgb(252, 252, 252);
	height : 15em;
}
.icon2 { 
	background : url('/images/tileicon02.png')   0 0;
	background-repeat : no-repeat;
	background-size : 100% 100%;
	width : 110px;
	height : 125px;
}
.icon3 { 
	background : url('/images/tileicon03.png')   0 0;
	background-size : 100% 100%;
	background-repeat : no-repeat;
	width : 110px;
	height : 125px;
}
.icon4 { 
	background : url('/images/tileicon04.png')   0 0;
	background-size : 100% 100%;
	background-repeat : no-repeat;
	width : 110px;
	height : 125px;
}
.icon6 { 
	background : url('/images/tileicon06.jpg')   0 0;
	background-size : 100% 100%;
	background-repeat : no-repeat;
	width : 110px;
	height : 125px;
}
.icon8 { 
	background : url('/images/upa.png')   0 0;
	background-size : 100% 100%;
	background-repeat : no-repeat;
	width : 110px;
	height : 125px;
}
.usertoolbar { 
	background-image : url("/images/bluelinen.jpg");
	background-repeat : repeat-x;
	height : 125px;
	width : 99.9%;
	border : 1px solid #444444;
	box-shadow : 0px 2px 4px #777777;
}
ul.toolbaricon { 
	margin-top : 40px;	
	list-style : none;
	text-align : center;
}
li.toolbaricon { 
	display : inline-block;
	list-style : none;
	width : 55px;
	height : 68px;	
	margin-right : 40px;	
}
.toolbarpic { 
	width : 55px;
	height : 55px;
	opacity : 0.8;
}
.toolbar1 { 
	background : url("/images/lin-icon-sd2ae6a3e1a.png") 0 330px;
}
.toolbar2 { 
	background : url("/images/lin-icon-sd2ae6a3e1a.png") 0 -55px;
}
.toolbar3 { 
	background : url("/images/lin-icon-sd2ae6a3e1a.png") 0 110px;
}
.toolbar4 { 
	background : url("/images/lin-icon-sd2ae6a3e1a.png") 0 165px;
}
.toolbar5 { 
	background : url("/images/lin-icon-sd2ae6a3e1a.png") 0 220px;
}
.toolbar6 { 
	background : url("/images/lin-icon-sd2ae6a3e1a.png") 0 275px;
}
.centerarrow { 
	background-image : url("/images/pointer-arrow.png");
	background-size : 100% 100%;
	left : 48.5%;
	margin-top : 115px;
	width : 30px;
	height : 25px;
	position : absolute;
}
.debug { 
	border : 2px solid red;
}
ul.featuredtabs { 
	list-style : none;
}
li.featuredtabs { 
	display : inline-block;
	width : 240px;
	height : 180px;
	margin-right : 1em;
}
.featuredtabicon { 
	background-size : 100% 100%;
	width : 95px;
	height : 65px;
	margin-left : 72.5px;
	margin-top : 2em;
}
.featuredtext { 
	padding-left : 1em;
	padding-right : 1em;
}
.pushedown { 
  margin-top : 5em;
}
.input-obtrusive { 
  width : 25em;
  height : 1.85em;
}
.input-obtrusive-large { 
  width : 99.75%;
  height : 1.85em;
}
ul.h-list { 
  list-style : none;
}
ul.h-list li{ 
  display : inline-block;
}
img.avatar { 
  width : 40px;
  height : 40px;
}
.inline { 
  display : inline;
}

.btn-standard { 
  width : 5em;
}
.social-count {
  border: 1px solid #D4D4D4;
  font-size: 11px;
  padding: 6px 7px 5px;
  line-height: 20px;
  margin-left: 8px;
  border-radius: 3px;
  color: #333;
  background-color: #FAFAFA;
  position: relative;
}
.social-count:hover {
  color: #4183C4;
  cursor: pointer;
  text-decoration: none;
}
.social-count::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid #D4D4D4;
  border-color: transparent #D4D4D4 transparent transparent;
  position: absolute;
  right: 100%;
  margin-right: 0;
  top: 50%;
  margin-top: -6px;
}
.social-count::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid #FAFAFA;
  border-color: transparent #FAFAFA transparent transparent;
  position: absolute;
  right: 100%;
  margin-right: -1px;
  top: 50%;
  margin-top: -6px;
}
ul.menubar { 
  list-style : none;
  margin-left : -0.25em;
  margin-top : 1em;
}
ul.menubar li.menubar { 
  display : inline;
  margin-left : -0.35em;
}
.btn-menubar { 
  height : 2em;
  width : 10.05em;
}
div.seperator {
  background-color : rgb(210, 210, 215);
  border : 0.25px solid rgb(200, 195, 200);
  padding-left : 1em;
  padding-right : 1em;
  padding-top : 0.25em;
  padding-bottom : 0.25em;
  border-radius : 2px;
}
ul.vbar { 
  list-style : none;
  margin-left : -0.2em;
}
a.vbar {
  width : 95%;
  height : 2em;
}
ul.storyicontabs {
  list-style : none;
  margin-left : -0.2em;
  margin-top : 1em;
}
.icontabs-title {
  font-size : 1.5em;
  padding-top : 0.4em;
  padding-bottom : 0.4em;
  padding-left : 0.4em;
}
.storyicontabs {
  background-color : rgb(239,239,235);
  border : 1px solid rgb(135, 145, 135);
  border-radius : 4px;
}
.storyicontabs p {
  padding-left : 0.5em;
  padding-right : 0.5em;
  padding-top : 0.25em;
  font-size : 1.15em;
}
.storyicontabs p.timestatus {
  font-size : 0.9em;
  color : rgb(150, 150, 160);
}
.icontabs-title { 
  background-color : rgb(254,253,252);
  border-top-left-radius : 5px;
  border-top-right-radius : 5px;
  border : 0.1px solid black;
}
.icontabs-infographic { 
  background-color : rgb(254,253,252);
  border : 0.2px solid black;
  margin : 0.35em;
  height : 65px;
}
.chaptericon {
  width : 20em;
  border : 1px solid rgb(175,187,175);
  background-color : rgb( 233, 230, 228);
  padding-left : 1em;
  border-radius : 5px;
}
ul.chaptericontabs {
  list-style : none;
  width : 97%;
}
ul.chapterinternals {
  list-style : none;
  margin-top : 1em;
}
li.chapterinternals {
  display : inline-block;
}
.box-form{
  width : 20em;
}
.vn-splash{
}
.vn-logo {
  margin-left : 26em;
  width : 320px;
  height : 320px;
  background-repeat : no-repeat;
  background-position : center;
  background-size : contain;
}
ul.vn-buttons {
  list-style : none;
}
ul.vn-buttons li {
  margin-top : 1em;
}
.btn-secondary {
  width : 10em;
}
.pictab-title {
  width : 55px;
  height : 55px;
  background-color : rgb(255,254,253);
  float : left;
}
.pictab-text {
  margin-left : 60px;
  height : 55px;
  width : 95%;
}
ul.picicontabs {
  list-style : none;
  width : 100%;
  margin-left : -0.15em;
  margin-top : 0.65em;
  width : 100%
}
ul.picicontabs li {
  border : 1px solid rgb(245,245,250);
  height : 55px;
  width : 36em;
  background-color : rgb(239,239,235);
  border : 1px solid rgb(220, 220, 215);
  border-radius : 4px;
}
#now-loading {
  position : absolute;
  left : 42%;
  top : 25%;
  width : 10em;
  height : 10em;
  background-image : url('/images/general/youtube.gif');
  background-size : contain;
}
