<!-- new user form -->
<div class="container">
  <div class="row">
    <div class="pushedown" style="margin-top : 5em;"></div>
  </div>
  <div class="row">
    <div class="span12">
      <%= render "users/partials/signup", :user => @user %>
    </div>
  </div>
</div>
