<div class="container">
  <div class="row">
    <div class="pushedown" style="margin-top : 5em;"></div>
  </div>
  <div class="row">
    <div class="span8">
      <h1>
        <%= image_tag "/images/upa.png", :alt => "#{@user.name}'s avatar", :class => "avatar" %>
        <%= @user.name %>
      </h1>
    </div>
    <div class="span4">
      <% if @user.id == current_user.id %>
        <p class="inline">
          This is you!
          <%= link_to "Edit your profile", edit_user_path(@user), :class => "btn" %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="h-divider"></div>
</div>
