<div class="usertoolbar">
	<div class="centerarrow">
	<ul class="toolbaricon">
    <% (1..6).each do |k| %>
      <li class="toolbaricon">
        <a href="#">
          <div class="toolbarpic toolbar<%= k %>"></div>
          <h4 class="toolbartext"><%= @tabbar[k] %></div>
        </a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
