<!-- HTML Page -->
<%= javascript_include_tag "fluxtile/fluxtile-bridge.js" %>
<script type="text/javascript">
	var VisualNovelMetadata = { 
		story : "<%= escape_javascript @story.slug %>" ,
		chapter : "<%= @chapter.id %>" ,
		authenticity_token : "<%= form_authenticity_token %>"
	} ;
</script>

<div class="container">

	<div class="row">
		<div class="pusheddown"></div>
	</div>
	<div class="row">
		<div class="span12" id="now-loading"></div>
	</div>
	<div class="row">
		<h1>Stuff</h1>
		<h1>Stuff</h1>
		<div id="debug"></div>
		<button id="createscene" class="btn">Create Scene</button>
	</div>

</div>
