<div class="container">
  <div class="row">
    <div class="pushedown"></div>
  </div>
  <div class="row">
    <h1>ID : <%= @chapter.id %></h1>
    <h1>OWNER : <%= @chapter.owner_id %></h1>    
    <h1>STORY : <%= @chapter.story_id %></h1>    
    <h1>TTLE : <%= @chapter.title %></h1>        
  </div>
</div>
