<!-- standard header -->
<div class="navbar">
	<div class="navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">
					<img class="logo" src="/images/logo.png" alt="ffopenvn logo" />
					<%= @title %>
				</a>
				<ul class="nav">
					<li>
						<%= link_to "Login", "#" %>
					</li>
					<li>
						<%= link_to "Signup", "#" %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
